body {font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:  #FFFFFF;
}
:root{
    --main-text-color:#2E2F42;
    --second-text-color:#434455;
    --third-text-color:#F4F4FD
}
.link{
    text-decoration: none;  
}
.list{
    list-style: none;    
    }
.text-all{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.text-type{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/**---------------HEADER--------------**/
.header {
}
.header-nav {
}
.word-part{
    color: var(--main-text-color);
}
.header-logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;


}
.header-images {
}
.header-link:focus,
.header-link:hover{
   color: #404bbf;

}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.header-item {
}
.header-address {
}
.header-contacts {
}
.header-type-contact {
}
.header-mail:focus,
.header-mail:hover{color:  #404bbfE5;}
.header-mail {
    font-style: normal;
    font-weight: 400;
   color: var(--second-text-color);
}
.header-tel:focus,
.header-tel:hover{
    color: #4D5AE5;
}
.header-tel {
    font-style: normal;
    font-weight: 400;
    color: var(--second-text-color);
}
/**---------------FIRST SECTION--------------**/
.section {
    background-color: var(--main-text-color);
}
.caption-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section-button:focus,
.section-button:hover{
color:#404BBF;
background-color: #404BBF
}
.section-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}
/**---------------SECTION ADVANTAGES--------------**/
.section-advantages {
}
.advantages-list {
}
.advantage-paragraph {
}
.advantage-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 500;
    color: #2e2f42;
}
    .advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/**---------------SECTION DO--------------**/
.section-do {
}
.section-what-do {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
}
.section-do-list {
}
.section-do-item {
}
/**---------------SECTION TEAM--------------**/
.section-team {
   background-color:#F4F4FD;
}
.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
}
.our-team-list {
background-color: #FFFFFF 
}
.our-team-part {
}
.our-team-name {
    font-weight: 500;
    text-align: center;
    color: var(--main-text-color)
}
.our-team-work {
    text-align: center;
    color: var(--second-text-color);
}
/**---------------FOOTER--------------**/
.footer{
    background-color: var(--main-text-color);
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.word-part-footer{
color: #F4F4FD;
}
.footer-text {
    color: var(--third-text-color);
}
/**---------------BTN PORTFOLIO--------------**/
.section-buttons {
}
.buttons-list {
}
.button-type {
}
.button-view {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
}
.button-view:hover,
.button-view:focus{
    color:#404BBF; 
}
/**---------------INTERFACE PORTFOLIO--------------**/
.section-interface {
}
.interface-list {
}
.interface-item {
}
.interface-name {
    color: var(--main-text-color);
}
.interface-text {
    color: var(--second-text-color);
}
.car-item{

}
.car-name {
    color: var(--main-text-color);
}
.car-text {
    color: var(--second-text-color);
}
.inst-item {
}
.inst-name {
    color: var(--main-text-color);
}
.inst-text {
    color: var(--second-text-color);
}